@model Yuri.Notes.DB.Note
@{
      ViewBag.Title = "Заметки";
}

<h2>Новая заметка</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Имя заметки", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @rows = 10 })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Текст", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Text, htmlAttributes: new { @class = "form-control", @rows = 10 })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Тег", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Tags, htmlAttributes: new { @class = "form-control", @rows = 10 })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<input type="submit" value="Сохранить" class="btn btn-default" />*@
            <input type="button" value="Сохранить" onclick="location.href='@Url.Action("SaveNote", "EditNote", new Yuri.Notes.DB.Note { Name = Model.Name }, null)'" />
        </div>
    </div>
</div>
