@model Yuri.Notes.DB.Note

@using (Html.BeginForm("CreateNote", "Notes", FormMethod.Post, new { id = "EditNoteForm" }))
{

    <h2>Редактировать</h2>

    <div class="form-horizontal">


        <div class="form-group">
            @Html.Label("Текст", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, htmlAttributes:
               new { @class = "form-control", @rows = 10 })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Опубликовать", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Draft, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        @Html.HiddenFor(model => Model.Id)
        @Html.HiddenFor(model => Model.Author)
        @Html.HiddenFor(model => Model.Tags)
        @Html.HiddenFor(model => Model.Name)
        @Html.HiddenFor(model => Model.BinaryFile)


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Сохранить" onclick="SaveNote()" />
            </div>
        </div>
    </div>
}

<script>
function SaveNote() {
    $.ajax({
        url: '@Url.Action("SaveNote", "Notes")',
        type: 'POST',
        cache: false,
        data: $("#EditNoteForm").serializeArray()
    });
}
</script>