@model IEnumerable<Yuri.Notes.DB.Note>

<h2>Все заметки</h2>

<div class="form-group">
    <table id="rez_tablh">

        <tr>
            <th class="col-md-10" id="thnaim"><input type="text" placeholder="Найти..."></th>
        </tr>

    </table>
</div>

<table class="table" id="rez_tab" align="center">
<thead>
    <tr>
        <td> <b> Имя          </b> </td>
        <td> <b> Тэги         </b> </td>
        <td> <b> Опубликовано </b> </td>
        <td> <b> Дата/Время   </b> </td>
        <td> <b> Файл         </b> </td>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td id="naim">
                @Html.DisplayFor(modelItem => item.Author.Login)
            </td>
            <td id="naim">
                @{
                    var cutoffName = item.Name.Length > 30 ? item.Name.Substring(0, 30) + "..." : item.Name;
                }
                @Html.DisplayFor(modelItem => cutoffName)
            </td>
            <td id="naim">
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <img onclick="location.href='@Url.Action("DownloadMyFile", "Notes", new { nameFile = item.BinaryFile })'" src="~/Content/dwnldiсon.png" alt="Download" height="20" width="20" />
                @*<img onclick="" src="~/Content/dwnldiсon.png" alt="Button" height="20" width="20" />*@
            </td>

        </tr>
    }
</tbody>
</table>

